<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobalChat-@<%= post.username%>Edit_post </title>
    <link rel="stylesheet" href="/style4.css">
</head>
<body>
    <div class="post">
        <h1>@<%= post.username %></h1>
        <hr>
        <p>Post Id : <%= post.id %></p>
        <form action="/posts/<%= post.id %>/edit?_method=PATCH" method="post">
            <p>Content : </p>
            <textarea name="content"><%=post.content %></textarea>
            <button type="submit">Submit Post</button>
        </form>
    </div>
</body>
</html>